
#
# Add device class name under each type prefixed with dash
#   e.g. Digital Receiver Channels: RDC
#             -NBDDC
#
# Parent device name can be defined as existing device type
# or new device name that will be a plain AggregateDevice
#

PARENT:

Analog Input Receiver (RX):

Analog Input Receiver Array (RX_ARRAY):

Analog Input Bank of Tuners (ABOT):

Analog Input Receiver/Digital Out Channel (ARDC):

Digital Input Bank of Tuners (DBOT):

Digital Receive Channel (RDC):

Digital Snapshot Receive Channel (SRDC):

Digital Delay Receive Channel (DRDC):

Analog Transmitter (TX):

Analog Transmitter Array (TX_ARRAY):

Digital Input/Analog Output Transmitter Channel (TDC):
