
#
# Add device class name under each FEI3 device type prefixed with dash
#   e.g. Digital Receiver Channel (RDC)
#             - NBDDC
#
# PARENT:
# For device hierarchies, define a PARENT device class name. The device class
# name can be an existing device class name, or a new device class that will
# be defines as an AggregatePlainDevice.  Leave empty for a non-hierarchial
# FEI3 device.
#
#    e.g. PARENT
#            - RCV1             -- where RCV1 was listed under Analog Input Receiver(RX)
# or
#    e.g. PARENT
#            - USRP             -- Would generate a parent device called USRP of type AggregatePlainDevice
#

PARENT:

Analog Input Receiver (RX):

Analog Input Receiver Array (RX_ARRAY):

Analog Input Bank of Tuners (ABOT):

Analog Input Receiver/Digital Out Channel (ARDC):

Digital Input Bank of Tuners (DBOT):

Digital Receive Channel (RDC):

Digital Snapshot Receive Channel (SRDC):

Digital Delay Receive Channel (DRDC):

Analog Transmitter (TX):

Analog Transmitter Array (TX_ARRAY):

Digital Input/Analog Output Transmitter Channel (TDC):
