
# *NOTE* this a yaml file format. 
#
# Add device class name(s) under (nest) each FEI3 device type. 
# Indent each class name and prefix with dash and space to create a list of that device type
#
#   e.g. Digital Receiver Channel (RDC)
#             - WBDDC
#             - NBDDC
#
# PARENT:
# For device hierarchies, define a PARENT device class name. The device class
# name can be an existing device class name, or a new device class defined as 
# an  AggregatePlainDevice.  Leave PARENT section empty for a non-hierarchial
#
# FEI3 device.
#
#    e.g. PARENT
#            - RCV1             -- where RCV1 was listed under Analog Input Receiver(RX)
# or
#    e.g. PARENT
#            - USRP             -- Would generate a parent device called USRP of type AggregatePlainDevice
# or
#    e.g  PARENT                -- Would generate a plain device type call SimpleRTL, (non-hierarchial)
#
#         ...
#         Analog Input Receiver/Digital Out Channel (ARDC):
#            - SimpleRTL
#
#

PARENT:

Analog Input Receiver (RX):

Analog Input Receiver Array (RX_ARRAY):

Analog Input Bank of Tuners (ABOT):

Analog Input Receiver/Digital Out Channel (ARDC):

Digital Input Bank of Tuners (DBOT):

Digital Receive Channel (RDC):

Digital Snapshot Receive Channel (SRDC):

Digital Delay Receive Channel (DRDC):

Analog Transmitter (TX):

Analog Transmitter Array (TX_ARRAY):

Digital Input/Analog Output Transmitter Channel (TDC):
