<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE softpkg PUBLIC "-//JTRS//DTD SCA V2.2.2 SPD//EN" "softpkg.dtd">
<softpkg id="{{spd.id}}" name="{% if spd.ns is defined and spd.ns %}{{spd.ns}}.{%endif%}{{spd.name}}" type="{{spd.version}}">
  <title></title>
  <author>
    <name>null</name>
  </author>
  <propertyfile type="PRF">
    <localfile name="{{spd.name}}.prf.xml"/>
  </propertyfile>
  <descriptor>
    <localfile name="{{spd.name}}.scd.xml"/>
  </descriptor>
  <implementation id="{{spd.lang}}">
    <description>The implementation contains descriptive information about the template for a software resource.</description>
    <code type="{{spd.impl_codetype}}">
{% if spd.lang == 'cpp' %}
      <localfile name="cpp/{{spd.name}}{{spd.impl_ext}}"/>
      <entrypoint>cpp/{{spd.name}}{{spd.impl_ext}}</entrypoint>
    </code>
    <compiler name="devtoolset" version="9"/>
    <programminglanguage name="C++"/>
{% endif %}
{% if spd.lang == 'python' %}
      <localfile name="python"/>
      <entrypoint>python/{{spd.name}}{{spd.impl_ext}}</entrypoint>
    </code>
    <compiler name="/usr/bin/python3" version="3.6.0"/>
    <programminglanguage name="Python"/>
{% endif %}
{% if spd.lang == 'java' %}
      <localfile name="java"/>
      <entrypoint>java/startJava.sh</entrypoint>
    </code>
    <compiler name="/usr/bin/java" version="11"/>
    <programminglanguage name="Java"/>
{% endif %}
    <humanlanguage name="EN"/>
    <os name="Linux"/>
    <processor name="x86"/>
    <processor name="x86_64"/>
{% if spd.dependencies is defined and spd.dependencies %}
{%  for dep in spd.dependencies %}
    <dependency type="runtime">
      <softpkgref >
        <localfile name="{{dep}}"/>
      </softpkgref>
    </dependency>
{% endfor %}
{% endif %}
  </implementation>
{% if spd.children is defined and spd.children %}
{%   for child in spd.children %}
  <child name="{{child.name}}">
     <childSoftwarePackageFile>
        <localfile name="{{child.name}}.spd.xml" />
     </childSoftwarePackageFile>
  </child>
{%  endfor %}
{% endif %}
</softpkg>
