*.csv
*.la
*.lo
*.m4
*.o
*.pyc
*.so
.deps/
.libs/
autom4te.cache/
Makefile
Makefile.in
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
missing
streams/bulkio/reader/cpp/reader
streams/bulkio/writer/cpp/writer
streams/corba/rawdata/
streams/corba/rawdata__POA/
streams/corba/rawdata_idl.py
streams/corba/rawdata.h
streams/corba/rawdataSK.cpp
streams/corba/reader
streams/corba/writer
streams/raw/reader
streams/raw/writer
