sdr/dev/devices/GPP/
sdr/dev/mgr/DeviceManager
sdr/dom/mgr/DomainManager
sdr/dom/components/check_cwd_cpp/cpp/check_cwd_cpp
sdr/dom/components/check_cwd_java/java/bin/
sdr/dom/components/check_cwd_java/java/check_cwd_java.jar
