.deps
.dirstamp
.idlj/
.idljni/
.jars/
Makefile
Makefile.in
autom4te.cache/
configure
depcomp
install-sh
libtool
ltmain.sh
missing
status
test-driver
*.o
*.lo
.libs
*.gnu
config.*
depcomp
aclocal.*
acinclude.*
*.jar
build
*.pc
*.la
*.pyc
/setup.py
/jni/ossie/
/libsrc/java/bin/
/libsrc/java/META-INF/MANIFEST.MF
/libsrc/java/META-INF/MANIFEST.MF.src
/src/
/nbproject
