[Unit]
Description=Redhawk Waveform
After=syslog.target
After=redhawk-domain-mgrs.service redhawk-device-mgrs.service
Wants=redhawk-domain-mgrs.service


[Service]
Type=forking
ExecStart=/etc/redhawk/init.d/redhawk-service-start WAVEFORM
ExecStop=/etc/redhawk/init.d/redhawk-service-stop WAVEFORM
WorkingDirectory=/etc/redhawk/init.d
NotifyAccess=all
TimeoutSec=10s
KillMode=process

[Install]
WantedBy=multi-user.target
