*.class
*.o
*.la
*.lo
*.java
*.jar
*.pyc
*.trs
.deps/
.idlj/
.idljni/
.libs/
Makefile
Makefile.in
aclocal.m4
burstio.pc
burstioInterfaces.pc
autom4te.cache
config.guess
config.log
config.sub
config.status
configure
depcomp
install-sh
libtool
ltmain.sh
missing
classlist.txt
filelist.txt
src/cpp/redhawk
src/java/redhawk
src/python/build
src/python/build/
src/python/redhawk/burstioInterfaces
src/python/setup.py
test-driver
